<h1>Log in to your account:</h1>
<form method="post" action="/login">
 <input type="text" name="username" placeholder="username">
 <input type="text" name="password" placeholder="password">
 <input type="submit" value="submit">
</form>
