<h1>Welcome to Fwitter! </h1> <br><br>
 <h2>Get started by signing up now!</h2>
     <a href="/signup"> Sign Up </a><br>
 <h2>Log in if you already have an account</h2>
     <a href="/login"> Log in </a>
